/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

#react-root {
    min-height: 100%;
    height: 100%;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    background: #496281;
    color: #fff;
    padding: 10px 0 0 0;
    text-align: center;
    position: relative;
}

header a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    padding: 10px 16px;
    position: absolute;
    left: 0;
    top: 0;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em
}

h2 {
    font-size: 1.3em;
}

h1, h2 {
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

a {
    color: #000;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

span.pull-right {
    float: right;
}

span.badge {
    position: absolute;
    right: 16px;
    top: 10px;
    background-color: #496281;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    min-width: 30px;
    text-align: center;
}

span.name {
    width: 80%;
    display: inline-block;
}

li:nth-child(even) {
    background-color: #fafafa;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-task input {
        padding-bottom: 5px;
    }
}
